
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

main {
    background-color: #2c3e50;
    /* width: 280rem;
    height: 500rem; */
    height: 100vh;
    width: 100vw;
    /* border-radius: 16rem; */
    /* padding: 8rem; */
    /* box-shadow: 1rem 3rem 5rem rgba(0, 0, 0, 0.05); */
    overflow: hidden;
}

/* 登录 */
.login {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    line-height: 8rem;
}
.title{
    color: #f39c12;
     font-size: 1.5rem;
     font-weight: 600;
}
.enter {
    background-color: #e74c3c;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    color: #fff;
    line-height: 5rem;
    text-align: center;
    box-shadow: 0rem 0.1rem 1rem #e67e22;
    cursor: pointer;
}

.enter_name {
    text-align: center;
    background-color: #e4e4e4;
    height: 3rem;
}

.enter_name:focus {
    background-color: #e4e4e4;
}

.avater {
    position: relative;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #ccc;
    overflow: hidden;
}

.avater img {
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#file {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
}


.board_chat {
    flex: 1;
    height: 100%;
}

.enter_chat {
    transform: translateX(-50%);
}

/* 聊天室 */
.panel {
    width: 200%;
    height: 100%;
    display: flex;
    transition: 0.8s;
}

.avatar_list {  
    display: flex;
    height: 4rem;
    width: 100vw;
    align-items: center;
    border-bottom: 0.2rem solid #ccc;
    overflow: hidden;
    overflow-x: auto;
}

.avatar_list_item {
    margin: 0 0.2rem;
    cursor: pointer;
    position: relative;
}
.chat_badge{
    position: absolute;
    background-color: brown;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    top: 0px;
    right: 0px;
    color: #fff;
    text-align: center;
    line-height: 1.2rem;
}
.avatar_list_item img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.chat_list{
    height: 80vh;
    overflow: hidden;
    overflow-y: auto;
    background: url("../images/bg.jpg")  no-repeat -22rem -40rem;
}




.chat_list_item {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
}

.chat_list_self {
    display: flex;
    flex-direction: row-reverse;
}

.chat_list_self .avatar_info {
    margin: 0 0 0 0.3rem;
}

.chat_list_self .message {
    border-radius: 0.6rem 0rem 0.6rem 0.6rem;
     background-color: pink;
}
.chat_list_self .create_time {
   text-align: right;
}

.avatar_info {
    width: 3rem;
    height: 3rem;
    margin-right: 0.3rem;
}

.avatar_info img {
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
}

.message {
    text-align: center;
    background-color: #e4e4e4;
    /* text-align: center; */
    padding: 0.3rem 0.5rem;
    letter-spacing: 1px;
    border-radius:  0rem 0.6rem 0.6rem 0.6rem;
}

.create_time {
    font-size: 1rem;
   color: #ccc;
    text-align: left;
}
.chat_window{
    display: flex;
     position:absolute;
     width: 90%;
     bottom: 1rem; 
     left: 5%;
z-index: 9999;
}
.sendBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.5rem;
}


/* 私聊 */
.chat_private{
    position: absolute;
    height: 80vh;
    top: 100%;
    width: 100vw;
    right: 0;
    z-index: 100;

    transition: 0.5s;
}
.chat_private .chat_list{
    background: url("../images/bg.jpg")  no-repeat -68rem -22rem; ;
}
.chat_private .chat_list{
    height: calc(80vh - 3rem);
}
.chat_private.active{
    top:4rem
}

.chat_private_title{
    position: relative;
    height: 3rem;
    background-color: var(--bs-info);
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat_close{
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 0.4rem;
    line-height: 2rem;
    text-align: center;
    background-color: blueviolet;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
    color: #fff;
    opacity: 0.5;
}

.target_name{
    font-size: 1.1rem;
    font-weight: 600;
}